@using Business.Abstract
@model CategoryIndexViewModel
@{
    ViewData["Title"] = Model.Category.Name;
}
<!-- Path -->
<div class="bg-light">
    <div class="container py-4 px-3">
        <ol class="breadcrumb text-big m-0">
            <li class="breadcrumb-item">
                @if (Model.Category.CategoryType == Entities.Concrete.CategoryTypes.Women)
                {
                    <span>Kadın</span>
                }
                else if (Model.Category.CategoryType == Entities.Concrete.CategoryTypes.Men)
                {
                    <span>Erkek</span>
                }
                else if (Model.Category.CategoryType == Entities.Concrete.CategoryTypes.Kid)
                {
                    <span>Çocuk</span>
                }

            </li>
            <li class="breadcrumb-item active">@Model.Category.Name</li>
        </ol>
    </div>
</div>
<!-- / Path -->

<div class="container px-3 my-4">

    <div class="row">
        <div class="col order-2 order-lg-1">
            <div class="row row-bordered no-gutters ui-bordered">
                @{
                    foreach (var product in Model.Products)
                    {
                        <div class="col-sm-6 col-xl-4 text-center p-4 product clearfix" id="@product.Id">
                            @if (product.Stock == 0)
                            {
                                <div class="ui-product-badge badge badge-outline-danger float-left">STOKTA YOK</div>
                            }

                            <a href="@Url.Action("Show","Product", new { id = product.Id })" class="d-block">
                                <img src="~/assets/img/uikit/presentation-suit.jpg" class="mb-2" style="max-width: 75%; max-height: 200px">
                            </a>
                            <h6 class="font-weight-normal">
                                <a href="@Url.Action("Show","Product", new { id = product.Id })" class="text-dark">@product.Name</a>
                            </h6>
                            <div class="mb-3">
                                <div class="ui-stars">
                                    <div class="ui-star filled">
                                        <i class="ion ion-md-star"></i>
                                        <i class="ion ion-md-star"></i>
                                    </div>
                                    <div class="ui-star filled">
                                        <i class="ion ion-md-star"></i>
                                        <i class="ion ion-md-star"></i>
                                    </div>
                                    <div class="ui-star filled">
                                        <i class="ion ion-md-star"></i>
                                        <i class="ion ion-md-star"></i>
                                    </div>
                                    <div class="ui-star filled">
                                        <i class="ion ion-md-star"></i>
                                        <i class="ion ion-md-star"></i>
                                    </div>
                                    <div class="ui-star half-filled">
                                        <i class="ion ion-md-star"></i>
                                        <i class="ion ion-md-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="font-weight-semibold">@product.Price ₺</div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
