@model List<Entities.Concrete.Category>
<!-- Women categories -->
<li class="nav-item mega-dropdown">
    <a class="nav-link dropdown-toggle small text-expanded px-lg-3" href="#" data-toggle="mega-dropdown" data-trigger="hover">KADIN</a>
    <div class="dropdown-menu p-0 mt-2">
        <div class="row no-gutters row-bordered">
            @{
                foreach (var category in Model.Where(x => x.CategoryType == Entities.Concrete.CategoryTypes.Women && x.MainCategoryId != Guid.Empty))
                {
                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-12 p-4">
                                @{
                                    <a href="@Url.Action("Index", "Category", new { id = category.Id } )" class="mega-link d-block text-dark small mb-2">@category.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</li>
<!-- / Women categories -->
<!-- Men categories -->
<li class="nav-item mega-dropdown">
    <a class="nav-link dropdown-toggle small text-expanded px-lg-3" href="#" data-toggle="mega-dropdown" data-trigger="hover">ERKEK</a>
    <div class="dropdown-menu p-0 mt-2">
        <div class="row no-gutters row-bordered">
            @{
                foreach (var category in Model.Where(x => x.CategoryType == Entities.Concrete.CategoryTypes.Men && x.MainCategoryId != Guid.Empty))
                {
                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-12 p-4">
                                @{
                                    <a href="@Url.Action("Index", "Category", new { id = category.Id } )" class="mega-link d-block text-dark small mb-2">@category.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</li>
<!-- / Men categories -->
<!-- Kid categories -->
<li class="nav-item mega-dropdown">
    <a class="nav-link dropdown-toggle small text-expanded px-lg-3" href="#" data-toggle="mega-dropdown" data-trigger="hover">ÇOCUK</a>
    <div class="dropdown-menu p-0 mt-2">
        <div class="row no-gutters row-bordered">
            @{
                foreach (var category in Model.Where(x => x.CategoryType == Entities.Concrete.CategoryTypes.Kid && x.MainCategoryId != Guid.Empty))
                {
                    <div class="col-6 col-lg-3">
                        <div class="row no-gutters row-bordered">
                            <div class="col-12 p-4">
                                @{
                                    <a href="@Url.Action("Index", "Category", new { id = category.Id } )" class="mega-link d-block text-dark small mb-2">@category.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</li>
<!-- / Kid categories -->