@using Entities.Concrete;
@model List<Sale>
@{
    ViewData["Title"] = "Siparişlerim";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="layout-content">

    <!-- Content -->
    <div class="container-fluid flex-grow-1 container-p-y">

        <h4 class="font-weight-bold py-3 mb-4"> Siparişlerim <span class="text-muted">@User.Identity.Name</span></h4>

        <div class="nav-tabs-top">
            <div class="tab-content">
                <div class="tab-pane active show" id="user-orders">
                    <div class="card-body pb-2">
                        <ul class="list-group list-group-flush">
                            @{ foreach (var sale in Model)
                                {
                                <li class="list-group-item py-3">
                                    <span class="badge badge-outline-success float-right">Kargoya verildi.</span>
                                    <div class="font-weight-semibold">@sale.ProductName <small class="text-muted">x @sale.Quantity</small></div>
                                    <div><small class="text-danger">Sipariş Tarihi: </small><small class="text-muted">@sale.Date</small></div>
                                    <div><small class="text-danger">Satıcı: </small><small class="text-muted">@sale.MerchantUserName</small></div>
                                </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
</div>