@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" value="@ViewData["PopupMessage"]" id="popupMessage" />

<!-- Hero slider -->
<div class="swiper-container swiper-container-horizontal" id="shop-hero-slider">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1903px, 0px, 0px);">
        <div class="swiper-slide ui-bg-cover swiper-slide-duplicate swiper-slide-prev" style="background-image: url(&quot;assets/img/bg/28.png&quot;); width: 1903px;" data-swiper-slide-index="2">
            <div class="container px-3 px-3">
                <div class="shop-hero-container">
                    <div class="flex-shrink-1 text-center py-5">
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-1 display-4 text-white text-expanded mb-4">EXCLUSIVE</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-2 display-3 bg-white text-center text-dark font-weight-bold text-expanded py-1 px-3 mx-auto">SUITS COLLECTION</div>
                        <button type="button" class="shop-hero-slider-animated shop-hero-slider-delay-3 btn btn-primary btn-lg text-expanded mt-5">SHOP NOW</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Animate first slide on page load -->
        <div class="swiper-slide ui-bg-cover swiper-slide-duplicate-prev" style="background-image: url(&quot;assets/img/bg/28.png&quot;); width: 1903px;" data-swiper-slide-index="2">
            <div class="container px-3 px-3">
                <div class="shop-hero-container">
                    <div class="flex-shrink-1 text-center py-5">
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-1 display-4 text-white text-expanded mb-4">ERKEK</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-2 display-3 bg-white text-center text-dark font-weight-bold text-expanded py-1 px-3 mx-auto">GÖMLEK KATEGORİSİNDE</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-3 display-4 text-white text-expanded mt-4">%25 İNDİRİM</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide ui-bg-cover swiper-slide-next" style="background-image: url(&quot;assets/img/bg/27.png&quot;); width: 1903px;" data-swiper-slide-index="1">
            <div class="container px-3">
                <div class="shop-hero-container">
                    <div class="flex-shrink-1 col-12 py-5">
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-1 display-2 text-primary text-expanded">BAYAN TÜM</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-2 display-2 text-primary text-expanded">ÜRÜNLERDE</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-3 display-2 text-primary text-expanded">%15 İNDİRİM</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next custom-icon" tabindex="0" role="button" aria-label="Next slide">
        <i class="lnr lnr-chevron-right text-dark"></i>
    </div>
    <div class="swiper-button-prev custom-icon" tabindex="0" role="button" aria-label="Previous slide">
        <i class="lnr lnr-chevron-left text-dark"></i>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
<!-- Hero slider -->

<!-- Product list -->
<div class="container px-3">
    <ul class="nav nav-tabs tabs-alt container justify-content-center border-0 px-3 my-5">
        <a class="nav-item nav-link font-weight-normal text-expanded active" href="#">POPÜLER ÜRÜNLER</a>
    </ul>

    <div class="row row-bordered no-gutters">

        @foreach (var item in Model)
        {
        <div class="col-sm-6 col-lg-3 text-center p-4">
            @if (item.Stock == 0)
            {
                <div class="ui-product-badge badge badge-outline-danger mb-2">STOKTA YOK</div>
            }
            <a href="@Url.Action("Show","Product", new { id = item.Id })" class="d-block">
                <img src="@item.ImageUrl" class="mb-2" style="max-width: 75%; max-height: 200px">
            </a>

            <h6>
                <a href="@Url.Action("Show","Product", new { id = item.Id })" class="text-dark">@item.Name</a>
            </h6>

            <div class="mb-3">
                <div class="ui-stars">
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star half-filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                </div>
            </div>
            <strong>@((item.PriceWithDiscounts - (item.PriceWithDiscounts * item.Category.Discounts) / 100).ToString("0.##")) ₺</strong>
        </div>
        }

    </div>
</div>
<!-- / Product list -->

<script>
    $(document).ready(function () {
        var value = $('#popupMessage').val();
        if (value) {
            swal(value, "Bu mesaj Admin tarafından gönderildi.", "info");
        }

    });
</script>