@model List<Entities.Concrete.Product>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero slider -->
<div class="swiper-container" id="shop-hero-slider">
    <div class="swiper-wrapper">
        <!-- Animate first slide on page load -->
        <div class="swiper-slide shop-hero-slider-animating ui-bg-cover" style="background-image: url(assets/img/bg/16.jpg)">
            <div class="container px-3">
                <div class="shop-hero-container">
                    <div class="flex-shrink-1 text-center py-5">
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-1 display-1 font-weight-semibold mb-2">50% INDIRIMLI</div>
                        <div class="shop-hero-slider-animated shop-hero-slider-delay-2 display-4">ILK ALAN SEN OL</div>
                        <button type="button" class="shop-hero-slider-animated shop-hero-slider-delay-3 btn btn-primary btn-lg text-expanded mt-5">ALIŞVERIŞE BAŞLA</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-next custom-icon">
        <i class="lnr lnr-chevron-right text-dark"></i>
    </div>
    <div class="swiper-button-prev custom-icon">
        <i class="lnr lnr-chevron-left text-dark"></i>
    </div>
</div>
<!-- Hero slider -->


<!-- Product list -->
<div class="container px-3">
    <ul class="nav nav-tabs tabs-alt container justify-content-center border-0 px-3 my-5">
        <a class="nav-item nav-link font-weight-normal text-expanded active" href="#">SON EKLENENLER</a>
    </ul>

    <div class="row row-bordered no-gutters">

        @foreach (var item in Model)
        {
        <div class="col-sm-6 col-lg-3 text-center p-4">
            @if (item.Stock == 0)
            {
                <div class="ui-product-badge badge badge-outline-danger mb-2">STOKTA YOK</div>
            }
            <a href="@Url.Action("Show","Product", new { id = item.Id })" class="d-block">
                <img src="@item.ImageUrl" class="mb-2" alt style="max-width: 75%; max-height: 200px">
            </a>

            <h6>
                <a href="@Url.Action("Show","Product", new { id = item.Id })" class="text-dark">@item.Name</a>
            </h6>

            <div class="mb-3">
                <div class="ui-stars">
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                    <div class="ui-star half-filled">
                        <i class="ion ion-md-star"></i>
                        <i class="ion ion-md-star"></i>
                    </div>
                </div>
            </div>
            <strong>@(item.Price - (item.Price * item.Discounts)) ₺</strong>
        </div>
        }

    </div>
</div>
<!-- / Product list -->
